<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시글</title>

  <link href="https://cdn.jsdelivr.net/npm/reset-css@5.0.2/reset.min.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300&family=Nanum+Gothic:wght@400;700&display=swap"
        rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

  <link rel="icon" href="./favicon.png">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.8/handlebars.min.js" integrity="sha512-E1dSFxg+wsfJ4HKjutk/WaCzK7S2wv1POn1RRPGh8ZK+ag9l244Vqxji3r6wgz9YBf6+vhQEYJZpSjqWFPg9gg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <link rel="stylesheet" href="./css/common.css">
  <link rel="stylesheet" href="./css/detail.css">

  <script defer src="./js/common.js"></script>
  <script defer src="./js/detail.js"></script>
</head>
<body>
<header>
  <div class="inner">
    <a href="/" class="logo">
      <img src="./images/스프링르탄이 복사본.png" alt="LOGO">
    </a>

    <div class="main-menu">
      <ul class="menu">
        <li>
          <a href="/member/login">Sign In</a>
        </li>
        <li>
          <a href="/board">자유 게시판</a>
        </li>
        <li>
          <a href="javascript:void(0)">토론 게시판</a>
        </li>
      </ul>
      <div class="search">
        <input type="text" />
        <div class="material-icons">search</div>
      </div>
    </div>
  </div>
</header>

<div class="title-section">
  <h1 class="title">게시글 작성</h1>
</div>

<div class="content-section">
  <div class="inner">
    <div class="write-box">
      <div class="board-title"></div>
      <div class="board-content"></div>

    </div>
  </div>
</div>

<div class="border-section">
  <span class="border-section-title">Comments</span>
</div>
<div class="badges">
  <div class="badge">
      <!-- <input type="checkbox" id="checkbox" hidden> -->
      <svg t="1689815540548" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="2271"><path d="M742.4 101.12A249.6 249.6 0 0 0 512 256a249.6 249.6 0 0 0-230.72-154.88C143.68 101.12 32 238.4 32 376.32c0 301.44 416 546.56 480 546.56s480-245.12 480-546.56c0-137.92-111.68-275.2-249.6-275.2z" fill="#231F20" p-id="2272" id="heart"></path></svg>
      <span>좋아요</span>
    </label>
  </div>
</div>

<div class="comment-section">
  <div class="inner">
    <span>Comment</span>
    <div class="comment-box">
      <input type="text" class="comment-title" placeholder="닉네임" readonly>
      <textarea class="comment-content" placeholder="내용"></textarea>
      <a href="javascript:void(0)" class="btn">작성하기</a>
    </div>
  </div>
</div>

</body>
</html>